
<section class="relative overflow-hidden min-h-screen flex justify-center items-center text-center px-6 py-6 bg-black/90">

  <!-- 🔥 Background tiza -->
  <div class="absolute inset-0 z-0 opacity-30 pointer-events-none">
    <svg viewBox="0 0 200 200" class="w-full h-full">

      <!-- Escalera diagonal -->
      <path d="M20 180 L180 20" class="chalk-line"/>
      <path d="M176 32 L180 20 L170 24" class="chalk-line"/>

      <!-- Escalones -->
      <path d="M30 160 L50 160 M50 160 L50 140 M50 140 L70 140 M70 140 L70 120 M70 120 L90 120 M90 120 L90 100 M90 100 L110 100 M110 100 L110 80 M110 80 L130 80 M130 80 L130 60 M130 60 L150 60"
            class="chalk-line"/>

    </svg>
  </div>

  <!-- Hero content -->
  <div class="relative z-10 flex items-center gap-4 text-center flex-col mx-110">
    
    <h1 class="mb-10 sm:text-3xl md:text-5xl lg:text-7xl font-bold bg-linear-to-r from-indigo-500 via-indigo-400 to-cyan-400 bg-clip-text text-transparent">
      ELEVATE
    </h1>
  
    <!-- Capsula -->
    <div class="relative inline-flex items-center gap-2 px-5 py-2 rounded-full bg-white/5 backdrop-blur-md border border-white/10 text-sm text-white shadow-lg">

      <!-- Glow detrás -->
      <div class="absolute inset-0 rounded-full bg-linear-to-r 
                  from-purple-500/20 to-pink-500/20 blur-xl -z-10"></div>

      <!-- Punto verde -->
      <span class="relative flex h-2.5 w-2.5">
        <span class="animate-ping absolute inline-flex h-full w-full 
                    rounded-full bg-green-400 opacity-75"></span>
        <span class="relative inline-flex rounded-full h-2.5 w-2.5 
                    bg-green-500"></span>
      </span>

      <!-- Texto -->
      <span>
        Sistemas inteligentes para automatizar y escalar tu negocio
      </span>

    </div>

    <!-- textos -->
    <p class="mb-7 mt-2 sm:text-2xl lg:text-6xl text-indigo-300 font-extrabold tracking-wider">
      Crecimiento real con <span class="text-indigo-500">agentes de IA</span> inteligentes trabajando para vos 24/7
    </p>

    <p class="my-4 sm:text-sm md:text-lg lg:text-2xl max-w-xl text-indigo-400 font-bold">
      Escalá tu negocio con flujos que atraen, convierten y automatizan clientes
    </p>

    <div class="flex gap-4 mt-4">
      <button class="w-64 bg-indigo-400 text-white px-6 py-3 rounded-xl font-bold hover:bg-indigo-500 hover:-translate-y-1 hover:shadow-[0_0_50px_rgba(99,102,241,0.5)] transition-all duration-300 hover:text-cyan-100">
        Quiero más clientes ⇨
      </button>

      <button class="w-64 bg-linear-to-r from-gray-500/50 to-white/10 border border-white/20 text-white px-6 py-3 rounded-xl font-bold hover:from-gray-600/50 hover:to-white/20 hover:-translate-y-1 hover:shadow-[0_0_50px_rgba(107,114,128,0.5)] transition-all duration-300">
        Ver casos de éxito 
      </button>
    </div>

  </div>

</section>